body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #27187E;
  color: #FDF7FA;
  margin:0;
}

header {
  height: 120px;
  display: flex;
  justify-content: space-around;
  text-shadow: 2px 2px #5B6057;
  box-shadow: 3px 5px #5B6057;
  border-radius: 5px;
  background-color:#197BBD;
  color:#06D6A0;
  position: fixed;
  width: 100%;
  z-index: 2;
  margin-top: 0;
}

a {
  color: #06D6A0;
}

 h1 {
   font-size: 60px;
   padding: 0
 }
 #controls {
   display: flex;
   justify-content: center;
   margin-top: 50px;
 }

 .tempo-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10px;
   color: white
 }

 .cell-set {
  display: flex;
  justify-content: center;
  margin: 10px 10px 20px;
}

button {
  background-color: #197BBD;
  color: #FDF7FA;
  height: 40px;
  width: 180px;
  align-content: center;
  margin: 10px 5px 10px;
  font-size: 16px;
  border-radius: 3px;
  border-width: 0;
  border-style: solid;

}
.cell-set > button {
  margin: 0 5px 0;
  height: 60px;
  width: 180px;
  font-size: 20px;
}

 button:hover {
  border-width: 1px;
  /* border-color: #93BEDF; */
  filter: drop-shadow(0 0 5px  #06D6A0);
  text-shadow: 1px 1px #06D6A0;
}

button:focus {
  outline: none;
}

.inactive-drone {
  height: 40px;
  background-color: #06D6A0;
  color: #27187E;
  /* box-shadow: 2px 2px gray; */
}

 .active-drone {
  border-color: #06D6A0;
  background-color:  #06D6A0;
  color: white;
  filter: drop-shadow(0 0 75px #06D6A0);
 }

 #stop {
   height: 40px;
   background-color: #B8366A;
 }

 #stop:active {
  transform: translateY(2px);
  font-size: 18px;
}

 select {
   border-radius: 5px;
   display: block;
   font-size: 16px;
   font-family: sans-serif;
   font-weight: 500;
   width: 120px;
   height: 35px;
   background-color: #3D3B8E;
   color: white;
   border-color: black;
   margin-top: 5px;
   text-align: center;
 }

 select:hover {
	border-color: #93BEDF;
}

select:focus {
  outline: none;
}

.active {
background-color: #FFF3F0;
color: #197BBD;
border: none;
filter: drop-shadow(0 0 30px #06D6A0);
}

.cell-block {
  margin-bottom: 100px;
}

.info-block {
  display: flex;
  justify-content: space-around;
  padding-top: 130px;
}

.instructions {
  font-size: 18px;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.instructions > p {
  color: #DBD053;
}


