body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #27187E;
  color: #FFFAFF
}

header {
  height: 120px;
  display: flex;
  justify-content: space-around;
  background-color:#197BBD;
  text-shadow: 2px 2px #5B6057;
  box-shadow: 3px 5px #5B6057;
  border-radius: 5px;

}

 h1 {
   color:#06D6A0;
   font-size: 60px;
   padding: 0
 }
 #controls {
   display: flex;
   justify-content: center;
   margin-top: 50px;
 }

 .div1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 40px;
   color: white
 }

 .div2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

 button {
   height: 40px;
   width: 180px;
   background-color: #197BBD;
   color: rgb(233, 225, 225);
   text-shadow: 1px 1px  rgb(37, 35, 87);
   align-content: center;
   margin-top: 10px;
   font-size: 16px;
   border-radius: 5px;
   /* box-shadow: 2px 2px #06D6A0; */
 }

 button:hover {
	border-color: #93BEDF;
}

 #drone {
   height: 40px;
   background-color: #06D6A0;
   color: #197BBD;
   /* box-shadow: 2px 2px gray; */
 }

 #stop {
   height: 40px;
   background-color: #B8366A;
   /* box-shadow: 2px 2px gray; */
 }

 select {
   border-radius: 5px;
   display: block;
   font-size: 16px;
   font-family: sans-serif;
   font-weight: 700;
   width: 120px;
   height: 45px;
   background-color: #3D3B8E;
   color: white;
   border-color: black;
   margin-top: 5px;
   text-align: center
 }

 select:hover {
	border-color: #93BEDF;
}

select:focus {
  outline: none;
}

 .active {
  background-color: rgb(89, 128, 31);
  color: #3D3B8E;
 }
