body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #E7F3F3;

}

header {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  background-color:#3D3B8E;
  text-shadow: 2px 2px blue;
  box-shadow: 5px 7px #888888;
  border-radius: 5px;

}

 h1 {
   color:#8FC93A;
   font-size: 50px;
   padding: 0

 }
 #controls {
   display: flex;
   justify-content: center;
   margin-top: 50px;
 }

 .div1 {
   display: flex;
   justify-content: center;
   margin-top: 40px;
 }

 .div2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

 button {
   width: 140px;
   background-color: #8FC93A;
   color: #E7F3F3;
   align-content: center;
   margin-top: 10px;
   font-size: 16px;
   border-radius: 5px;
 }

